div.MuiStack-root > div.Mui-focused{
    border: 1px dashed rgb(255, 0, 0)
}

div.Mui-disabled{
    background-color: grey;
}

#root{
    height: 100vh;
}

.control-panel {
    grid-column: 7/5;
    grid-row: 1/4;
}

.panel-container {
    border: 1px solid black;
    width: 400px;
    height: 300px;
}

button.roll-dice {
    width: auto;
}

.left-panel{
    width: 35%;
    height: 85%;
    float: left;
    margin: 0;
    
}

.right-panel {
    width: calc(65% - 20px);
    height: calc(85% - 20px);
    float: right;
    margin: 10px;
}

.current-player {
    border: 1px solid green;
    width: 90%;
    height: 25%;
    margin: 5%;
    text-align: center;
}

.drawn-number {
    border: 1px solid gold;
    width: 90%;
    height: 50%;
    margin: 5%;
    text-align: center;
    top: 10%;
    position: relative;
}

.panel-manager-view {
    height: 500px;
    position: relative;
    top: 25%;
    width: 50%;
    margin-left: 25%;

}

.panel-manager {
    height: calc(100% - 40px);
}

/* PAWNS */
.pawn-container {
    display: inline-flex;
    flex-direction: column;
    place-self: center;
    height: 100px;
    width: 100px;
}

.select-pawn-view {
    top: 35%;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}

.pawn, .player-pawn {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.pawn-logo {
    height: 70px;
    width: auto;
}

.chatPawn{
    height: 40px;
}

.disconected-user-message{
    color: red;
}

.connected-user-message{
    color: lightgreen;
}

.reconnected-user-message{
    color: lightblue;
}

.message{
    display: flex;
    align-items: center;
    padding: 5px;
}
  
.pawn:hover {
    transform: scale(1.5);
}

.smoke {
    position: absolute;
    transform: translate(-65px, -75px);
    animation: smoke-dissolve 1.5s ease forwards;
}
  
@keyframes smoke-dissolve {
    from {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}